/* rulewiki - index */
:root {
    --rate-module-background-color: 239, 239, 240;
    --rate-module-text-color: 51, 51, 51;
    --rate-module-button-size: 1.625em;
    --rate-module-upvote-color: 76, 175, 80;
    --rate-module-downvote-color: 244, 67, 54;
    --rate-module-cancel-color: 158, 158, 158;
    --basalt-main-text-color: 33, 33, 33;
    --general-border-color: 224, 224, 224;

    --vote-cancel-mask: url("data:image/svg+xml;charset=utf8,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 779.53 779.53'%3E%3Ctitle%3Ecancel-vote%3C/title%3E%3Cpolygon points='779.53 665.37 503.93 389.77 779.53 114.17 665.37 0 389.77 275.6 114.17 0 0 114.17 275.6 389.77 0 665.37 114.17 779.53 389.77 503.93 665.37 779.53 779.53 665.37'/%3E%3C/svg%3E");
    --vote-plus-mask: url("data:image/svg+xml;charset=utf8,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 872.37 872.37'%3E%3Ctitle%3Eplus%3C/title%3E%3Cpolygon points='872.37 341.18 531.2 341.18 531.2 0 341.18 0 341.18 341.18 0 341.18 0 531.2 341.18 531.2 341.18 872.37 531.2 872.37 531.2 531.2 872.37 531.2 872.37 341.18'/%3E%3C/svg%3E");
    --vote-minus-mask: url("data:image/svg+xml;charset=utf8,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 872.37 190.02'%3E%3Ctitle%3Eminus%3C/title%3E%3Crect x='444.99' y='103.81' width='190.02' height='872.37' transform='translate(-103.81 635.01) rotate(-90)'/%3E%3C/svg%3E");
    --vote-info-mask: url("data:image/svg+xml;charset=utf8,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 432.1 810.25'%3E%3Ctitle%3Einfo-vote%3C/title%3E%3Cpath d='M324,917.73v-139H491.5V493.71H346V355.77H615v423H756.05v139ZM544.41,266.88q-36.17,0-57.76-21.46T465,187.18q0-36.78,21.61-58.24t57.76-21.46q36.15,0,57.76,21.46t21.6,58.24q0,36.78-21.6,58.24T544.41,266.88Z' transform='translate(-323.95 -107.48)'/%3E%3C/svg%3E");
}

div.page-rate-widget-box {
    display: inline-flex;
    background-color: rgb(var(--rate-module-background-color));
    border: none;
    border-radius: 0;
    margin: 0.25rem 0;
    padding: 0.2rem;
    text-align: center;
}

div.page-rate-widget-box .rate-points {
    display: flex;
    align-items: center;
    color: rgb(var(--rate-module-text-color));
    background-color: transparent;
    padding: 0 0.625em;
    border: none;
    border-radius: 0;
    text-transform: uppercase;
    font-size: 0.675em;
    font-weight: 700;
}

.page-rate-widget-box .number {
    width: max-content;
    font-size: 1.5em;
    padding: 0 0.125em 0.05em;
    font-weight: bold;
    color: rgb(var(--rate-module-text-color));
}

div.page-rate-widget-box span.btn {
    display: block;
    width: var(--rate-module-button-size);
    height: var(--rate-module-button-size);
    margin: 0 2px;
    border-radius: 4px;
    overflow: hidden;
}

div.page-rate-widget-box span.btn > a {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: none;
    color: transparent !important;
    background-color: transparent;
    border-bottom: solid 0.05em rgb(var(--general-border-color));
    transition: all 95ms linear;
    cursor: pointer;
    text-decoration: none;
}

div.page-rate-widget-box span.btn > a::before {
    content: "";
    display: block;
    background-color: rgb(var(--basalt-main-text-color));
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: background-color 95ms linear;
    -webkit-mask-size: 40%;
    mask-size: 40%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
}

/* 按钮图标 */
div.page-rate-widget-box span.rateup > a::before {
    -webkit-mask-image: var(--vote-plus-mask);
    mask-image: var(--vote-plus-mask);
}

div.page-rate-widget-box span.ratedown > a::before {
    -webkit-mask-image: var(--vote-minus-mask);
    mask-image: var(--vote-minus-mask);
}

div.page-rate-widget-box span.cancel > a::before {
    -webkit-mask-image: var(--vote-cancel-mask);
    mask-image: var(--vote-cancel-mask);
}

/* 悬停效果 */
div.page-rate-widget-box span.btn > a:hover,
div.page-rate-widget-box span.btn > a:focus {
    outline: none;
    border-bottom-width: 2px;
}

div.page-rate-widget-box span.btn.rateup > a:hover,
div.page-rate-widget-box span.btn.rateup > a:focus {
    border-color: rgb(var(--rate-module-upvote-color));
}

div.page-rate-widget-box span.btn.ratedown > a:hover,
div.page-rate-widget-box span.btn.ratedown > a:focus {
    border-color: rgb(var(--rate-module-downvote-color));
}

div.page-rate-widget-box span.btn.cancel > a:hover,
div.page-rate-widget-box span.btn.cancel > a:focus {
    border-color: rgb(var(--rate-module-cancel-color));
}

div.page-rate-widget-box span.btn.rateup > a:hover::before,
div.page-rate-widget-box span.btn.rateup > a:focus::before {
    background-color: rgb(var(--rate-module-upvote-color));
}

div.page-rate-widget-box span.btn.ratedown > a:hover::before,
div.page-rate-widget-box span.btn.ratedown > a:focus::before {
    background-color: rgb(var(--rate-module-downvote-color));
}

div.page-rate-widget-box span.btn.cancel > a:hover::before,
div.page-rate-widget-box span.btn.cancel > a:focus::before {
    background-color: rgb(var(--rate-module-cancel-color));
}

div.page-rate-widget-box span.btn.active > a {
    border-bottom-width: 3px;
}

div.page-rate-widget-box span.btn.rateup.active > a {
    border-color: rgb(var(--rate-module-upvote-color));
}

div.page-rate-widget-box span.btn.ratedown.active > a {
    border-color: rgb(var(--rate-module-downvote-color));
}

div.page-rate-widget-box span.btn.cancel.active > a {
    border-color: rgb(var(--rate-module-cancel-color));
}

div.page-rate-widget-box span.btn.disabled > a {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
}

@media (max-width: 480px) {
    div.page-rate-widget-box {
        padding: 0.25em;
    }

    div.page-rate-widget-box span.btn {
        width: calc(var(--rate-module-button-size) * 0.9);
        height: calc(var(--rate-module-button-size) * 0.9);
    }

    .page-rate-widget-box .number {
        font-size: 1.2em;
    }
}