/* as -index */
div.page-rate-widget-box {
    float: right;
}

div.page-rate-widget-box {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    height: 1.4285em;
    margin: 0 0 0.75rem;
    padding: 0;
    overflow: hidden;
    border: 0.0625rem solid rgba(12, 12, 12, 0.15);
    border-bottom-width: 0;
    border-radius: 0;
    background-color: #ede9df;
    -webkit-box-shadow: 0 0.125rem 0 0 #8c887e;
            box-shadow: 0 0.125rem 0 0 #8c887e;
}

div.page-rate-widget-box :is(.rate-points, .rateup, .ratedown, .cancel) {
    font-weight: 600;
    display: block;
    margin: 0 0.125rem 0 0;
    border: none;
    position: relative;
    background: transparent;
}

div.page-rate-widget-box :is(.rateup, .ratedown, .cancel),
div.page-rate-widget-box :is(.rateup, .ratedown, .cancel) a {
    display: block;
    width: calc(0.9375rem * 1.4);
    height: 100%;
    padding: 0;
    line-height: 1.3125em;
    text-align: center;
    text-transform: uppercase;
    color: transparent;
}

div.page-rate-widget-box :is(.rateup, .ratedown, .cancel) a {
    font-weight: 600;
    z-index: 0;
    position: relative;
    background: transparent;
}

div.page-rate-widget-box :is(.rateup, .ratedown, .cancel) a::before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    right: auto;
    bottom: auto;
    left: 0;
    width: calc(0.9375rem * 1.4);
    height: 100%;
    background-color: rgb(12, 12, 12);
    pointer-events: none;
    -webkit-mask: center/calc(1.3125em - 0.5em) no-repeat;
            mask: center/calc(1.3125em - 0.5em) no-repeat;
}

div.page-rate-widget-box :is(.rateup, .ratedown, .cancel) a::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    right: auto;
    bottom: auto;
    left: -0.5%;
    width: 101%;
    height: 101%;
    -webkit-transition: -webkit-clip-path 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-clip-path 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition: clip-path 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition: clip-path 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition: clip-path 0.2s cubic-bezier(0.4, 0, 0.2, 1), -webkit-clip-path 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    pointer-events: none;
    -webkit-clip-path: polygon(0 100%, 100% 115%, 100% 100%, 0 115%);
            clip-path: polygon(0 100%, 100% 115%, 100% 100%, 0 115%);
}

div.page-rate-widget-box :is(.rateup, .ratedown, .cancel) a:hover::before, 
div.page-rate-widget-box :is(.rateup, .ratedown, .cancel) a:active::before, 
div.page-rate-widget-box :is(.rateup, .ratedown, .cancel) a:focus::before {
    background-color: rgb(252, 252, 252);
}

div.page-rate-widget-box :is(.rateup, .ratedown, .cancel) a:hover::after, 
div.page-rate-widget-box :is(.rateup, .ratedown, .cancel) a:active::after, 
div.page-rate-widget-box :is(.rateup, .ratedown, .cancel) a:focus::after {
    -webkit-clip-path: polygon(0 100%, 100% 115%, 100% 0, 0 -15%);
            clip-path: polygon(0 100%, 100% 115%, 100% 0, 0 -15%);
}

/* Rate Up Button */
div.page-rate-widget-box .rateup a::before {
    -webkit-mask-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg version='1.2' baseProfile='tiny' id='Up' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 200 200' overflow='visible' xml:space='preserve'%3E%3Cpolygon points='200.1,86.6 113.5,86.6 113.5,0 86.5,0 86.5,86.6 -0.1,86.6 -0.1,113.4 86.5,113.4 86.5,200 113.5,200 113.5,113.4 200.1,113.4 '/%3E%3C/svg%3E%0A");
            mask-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg version='1.2' baseProfile='tiny' id='Up' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 200 200' overflow='visible' xml:space='preserve'%3E%3Cpolygon points='200.1,86.6 113.5,86.6 113.5,0 86.5,0 86.5,86.6 -0.1,86.6 -0.1,113.4 86.5,113.4 86.5,200 113.5,200 113.5,113.4 200.1,113.4 '/%3E%3C/svg%3E%0A");
}

div.page-rate-widget-box .rateup a::after {
    background-color: rgb(0, 200, 0);
}

/* Rate Down Button */
div.page-rate-widget-box .ratedown a::before {
    -webkit-mask-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg version='1.2' baseProfile='tiny' id='Down' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 200 200' overflow='visible' xml:space='preserve'%3E%3Crect x='10' y='86.6' width='180' height='26.9'/%3E%3C/svg%3E%0A");
            mask-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg version='1.2' baseProfile='tiny' id='Down' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 200 200' overflow='visible' xml:space='preserve'%3E%3Crect x='10' y='86.6' width='180' height='26.9'/%3E%3C/svg%3E%0A");
}

div.page-rate-widget-box .ratedown a::after {
    background-color: rgb(200, 0, 0);
}

/* Cancel Button */
div.page-rate-widget-box .cancel {
    font-size: 0.85em;
}

div.page-rate-widget-box .cancel a::before {
    -webkit-mask-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg version='1.2' baseProfile='tiny' id='Cancel' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 200 200' overflow='visible' xml:space='preserve'%3E%3Cpolygon points='198.3,20.1 179.9,1.7 100,81.6 20.1,1.7 1.7,20.1 81.6,100 1.7,179.9 20.1,198.3 100,118.4 179.9,198.3 198.3,179.9 118.4,100 '/%3E%3C/svg%3E%0A");
            mask-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg version='1.2' baseProfile='tiny' id='Cancel' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 200 200' overflow='visible' xml:space='preserve'%3E%3Cpolygon points='198.3,20.1 179.9,1.7 100,81.6 20.1,1.7 1.7,20.1 81.6,100 1.7,179.9 20.1,198.3 100,118.4 179.9,198.3 198.3,179.9 118.4,100 '/%3E%3C/svg%3E%0A");
}

div.page-rate-widget-box .cancel a::after {
    background-color: rgb(160, 160, 160);
}

/* Rate Points Display */
div.page-rate-widget-box .rate-points {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 0.5em;
    border: none;
    background-color: transparent;
    color: rgb(12, 12, 12);
    font-size: 0.85em;
    line-height: calc(1.3125em * 1.25);
    text-transform: capitalize;
}

div.page-rate-widget-box .rate-points .number {
    font-size: calc(0.9375rem * 1.1333333333);
}